#shorter path name
LIB_PATH=$(ZEPHYR_ROBOTICS_LIB_MODULE_DIR)

menuconfig ENABLE_ROBOTICS_LIB
	bool "Include robotics_lib"
    default n
	help
	  Enables robotics_lib libraty that provies several utilities for robotics

if ENABLE_ROBOTICS_LIB
	source "$(LIB_PATH)/rl_src/communication/Kconfig"
	source "$(LIB_PATH)/rl_src/drivers/Kconfig"
	source "$(LIB_PATH)/rl_src/testing/Kconfig"
endif # ENABLE_ROBOTICS_LIB