menuconfig RL_ACTUATORS_MOTORS
	bool "enable coreless motor driver"
    default y
	help
	  Enables coreless motor driver from robotics_lib

if RL_ACTUATORS_MOTORS
	source "$(LIB_PATH)/src/drivers/actuators/motors/coreless_motor/Kconfig"
endif # RL_SENSORS